<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdgaB9Mo_W8Upd_fXF7QH4KQLMWz8kBpI</string>
	<key>GCM_SENDER_ID</key>
	<string>828562772715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.fl22Auth</string>
	<key>PROJECT_ID</key>
	<string>fl-22-auth-f881d</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-22-auth-f881d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828562772715:ios:8cead231750c08a40e24ae</string>
</dict>
</plist>